.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 3px solid black;
  background-color: white;
  padding: .5rem;
}

.card.favorite{
  border: 3px solid #2ecc71;
  background: #edfff5;
}

.card > .header {
  cursor: pointer;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.card > .header:hover {
  cursor: pointer;
  margin-top: .25rem;
  margin-bottom: .25rem;
  color: blue;
}

.card > .body,.location {
  font-size: .8rem;
  color: #777;
  margin-bottom: .25rem;
}

.hide {
  display: none;
}

.container{
  display: flex;
}

.container > .favorite-list{
  margin-top: 1.5rem;
  margin-left: 2rem;
}

button{
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #2ecc71;                     
  border-radius: 5px;
  background-color: #2ecc71;         
  color: #ffffff; 
}


button:hover {
  background-color: #27ae60; 
  border-color: #27ae60; 
}


button:active {
  background-color: #218c74; 
  border-color: #218c74; 
}



#showAllButton{
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #e4e816;                     
  border-radius: 5px;
  background-color: #e4e816;         
  color: #ffffff; 
}

#showAllButton:hover {
  background-color: #c9cc2e; 
  border-color: #c9cc2e; 
}

#showAllButton:active {
  background-color: #959731; 
  border-color: #959731; 
}